.sec-header {
    font-size: 18px;
    color: $green;
    font-family: bold;
    border-bottom: 2px solid $border;
    padding-bottom: 13px;
    position: relative;

    &:after {
        background-color: $green;
        position: absolute;
        right: 0;
        bottom: -2px;
        content: "";
        display: block;
        width: 42px;
        height: 2px;
    }
}

.page {
    margin-top: 20px;
}

.all-offers {
    margin-top: 13px;

    @include sm {
        margin-top: 0;
        margin-bottom: 13px;
    }

    .offers-links {
        margin-top: 21px;
    }

    .offer-link {
        font-size: 15px;
        color: $text;
        display: flex;
        align-items: flex-start;
        margin-bottom: 17px;
        letter-spacing: -0.15px;
        @include transition(all 0.3s ease-in-out);

        &:last-of-type {
            margin-bottom: 0;
        }

        &:hover {
            color: $green;
        }


        &:before {
            font-family: 'Linearicons-Free';
            content: "\e875";
            font-size: 10px;
            color: $text;
            margin-left: 12px;
            margin-top: 3px;
            margin-right: -3px;
        }
    }
}


.banner {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    align-items: center;
    //////////aspect//////////
    padding-top: 200px / 848px * 100%;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-image: -webkit-gradient(linear, left top, right top, from(transparent), to(rgba(255, 255, 255, 0.7)));
        background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.7));
        z-index: 1;
        cursor: pointer;
    }

    img {
        @include transition(all 0.7s ease-in-out);
        //////////aspect//////////
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &:hover {
        img {
            transform: scale(1.05);
        }

        &:after {
            -webkit-animation: shape 0.7s linear;
            animation: shape 0.7s linear;
        }
    }

}

.show-more {
    font-size: 16px;
    color: #999999;
    font-family: med;
    background-color: #ebebeb;
    width: 164px;
    height: 45px;
    margin: 34px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 45px;
    @include transition(all 0.3s ease-in-out);

    @include sm {
        margin: 27px auto 0;
    }

    &:hover {
        color: #fff;
        background-color: $green;
    }
}